html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, picture {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*content*/

/*colors*/

/*color1 #1f2c35*/
/*color2 #4e6672*/
/*color3 #fffefe*/
/*color4 #c2ff46*/
/*color5 #409e97*/

body {
font-family: "museo-slab", museo, serif; 
-webkit-font-smoothing: subpixel-antialiased;
/*-webkit-transform: translate3d( 0, 0, 0)*/
}

body {
font-family: museo; 
font-weight: 200;
color: #464646; 
font-size: 16px;
line-height: 1.2}

header {position: fixed;
width: 100%;
top: 0;
z-index: 20}

header nav ul {position: relative}

header nav  {
background-color: #1f2c35; /*color1*/
}

header nav  ul{
background-color: #1f2c35; /*color1*/
}

header nav li {display: inline-block;
text-transform: uppercase;
font-size: 1.7em;
padding: .4em .5em}

header nav a:link, header nav a:visited {
text-decoration: none;
color: #c2ff46 /*color4*/
 }

header nav li:last-child {position: absolute;
right: 0;
top: 0;
width: 20%;
text-align: center;
background-color: #c2ff46 /*color4*/;
padding: .4em 0}

header nav li:last-child a:link, header nav li:last-child a:visited {
color: #1f2c35; /*color1*/
}

/*banner*/

#banner {overflow: hidden;
background-color: black;
margin-top: 3.3em}

.row {width: 100%;
display: block;
overflow: hidden;
}

.row > * {
	display: inline-block;
	width: 40% ;
	float: left;
	height: 100%;
}

/*.row > img, .row > .banner-group {
	display: inline-block;
	width: 39% ;
	float: left;
	height: 100%;
	overflow: hidden
}
*/
.row > *:last-child {
	width: 20% ;
}

.banner-group .banner-text {
	width: 100%;
	clear: both;
	height: 50%;
padding: 0;
}

.banner-group {
position: relative;
height: 100%;
overflow: auto;
}

.banner-group .banner-text p {
line-height: 1.2;
font-size: 1em}

.banner-group img {display: block;
width: 100%;
}

#event-hero {
background-color:  #c2ff46; /*color4*/
color:  #1f2c35 /*color1*/

 }

#event-hero #wd-logo {
width: 50%
}

#event-hero #wd-logo h1 {
float: left;
font-size: 2vw;
background-image: url('../images/arrowleft.svg');
background-repeat: no-repeat;
background-position: left center;
background-size: 5.4em;
padding: 4em 0 4em 4.9em;
color: #000;
margin: -1.2em 0 0 1em;
width: 30%}



#event-hero h1 span:first-of-type {
text-transform: uppercase;
font-weight: 300;
font-size: .7em;
line-height: .9; }

#event-hero h1 span {
text-transform: uppercase;
font-weight: 900;
display: block;
line-height: .8;
}

#event-hero p, #event-hero h2 {
	width: 45%;
margin-right: 4%;
float: right;
font-style: italic;
color: #000; }

 #event-hero h2,  #event-hero p {
font-size: 1.4vw;
 }

#event-hero h2 {
margin-top: 2em
}

#event-hero p {
margin-top: 4em
}

#event-hero img {width: 40%;
float: left}

#event-usps {
background-color:  #409e97; /*color5*/
font-size: 1vw
}

#event-usps h2{
width: 90%;
font-size: 2.4em;
margin: .3em 0 0 5%;
line-height: 1
}

#event-usps p{
width: 95%;
margin: 0 0 0 5%;
font-size: 1.3em; }

.banner-text {
color: #fff;
position: absolute;
top: 0 }

.banner-text h1 {
font-size: 2em;
font-size: 3.2vw;
margin: 1em 0 .1em 2vw;
text-align: left; }

.banner-text h2 {
font-size: 1.4em;
font-size: 1.4vw;
margin: .6em 0 .1em 2vw;
text-align: left; }

.banner-text>p {
font-size: .8em;
font-size: 1.1vw;
margin: 0 0 .5em 2vw;
 }

.small-group img {display: block}

img {width: 100%;
height: auto;
outline: solid lime 0px}

/*reasons*/

.text-heavy {
background-color: #4e6672; /*color2*/
color: #fff;
overflow: auto;
padding: 2em 0;
font-size: 1.07em}

#reasons, #who {
width: 50%;
float: left;
margin: 0 4% 0 5%} 

#who {
width: 32%;
float: left;
margin: 0 3% 0 0 }

#who ul {
}

#product-team, #engineering-team {
width: 46%;
float: left}

#product-team {
margin-right: 4%}

#product-team h3, #engineering-team h3{
font-size: 1.1em;
margin-bottom: .4em }


.text-heavy h2 {
font-size: 1.6em;
font-style: italic; 
margin-bottom: .5em;
color: #c2ff46; /*color4*/
}

.text-heavy h3 {
font-style: italic; 
margin-bottom: .5em;
color: #c2ff46; /*color4*/
}

.text-heavy p {
margin-bottom: .6em;
line-height: 1.2}

.text-heavy li {
margin-bottom: .2em}

/* tldr*/

#tldr{
background-color: #409e97; /*color5*/
color: #fff;
}

#tldr{
clear: both;
padding: 2em 0 2em 5%;
overflow: auto;
font-size: 1.3vw}


.tldr-block {display: inline-block;
width: 33%;
margin-left: 0%}

.tldr-block h2, .tldr-block h3 {display: inline-block;
text-transform: uppercase;
font-family: 'museo sans';
font-size: 1.2em; 
font-weight: 200}

.tldr-block h2 {display: inline-block;
font-size: 5em; 
text-align: right;
margin-right: .1em;
color: #c2ff46 /*color*/
}

.tldr-block h3 {display: inline-block;
width: 50%;
 }

/*sepakers*/

#speakers {
	/*margin: -2em;*/
	margin: 0;
	background: #000
}

#speakers .row{
margin-bottom: -.3em}

#speakers h2 {
background-color: #000;
color: rgb(255, 57, 0);
padding: 1em 5%;
text-transform: uppercase;
font-size: 1.4em; }

.track-group h3 {
	width: 100%;
	clear: both;
	height: 50%;
}

.track-group h3 {
position: absolute;
top: 1em;
left: 0%;
width: 90%;
padding-left: 10%;
font-size: 3.6vw;
font-style: italic;
max-width: 90%;
height: auto}


.track-group {
position: relative;
height: 100%;
overflow: auto;
width: 40%;
background-color: #c2ff46;/*color4*/
margin-bottom: -.3em;
color: #1f2c35 /*color1*/

}

.track-group img {display: block;
width: 100%;
}

#speakers .row > img {width: 20%}

#speakers .speaker-details {position: absolute;
bottom: 0;
width: 100%;
background-color:  rgba(31, 44, 53, .8); /*color1*/
padding: .5em 0;
}



 .speaker-details h4 {
color: #c2ff46; /*color4*/
font-size: .9em;
padding-left: 5%
}

.speaker-details h5 {
color: #fffefe; /*color3*/
font-size: .8em;
padding-left: 5%

}

.row > .speaker-hero {
position: relative;
width: 20%;
}

.speaker-hero {
cursor: pointer;
position: relative;
}

.speaker-hero:after {content: "+";
position: absolute;
top: 0;
right: 0;
width: 18px;
height: 18px;
text-align: center; 
line-height: 16px;
font-size: 18px;
font-weight: 100;
font-family: helvetica;
color: white;
opacity: .6; }

.row > .speaker-hero .speaker-details {
bottom: 5px}

.speaker-hero.small {
width: 50%;
float: left;
position: relative}

#speakers .speaker-hero.small .speaker-details {
width: 100%;}

.speaker-hero.wide {
width: 40%;
margin-bottom: -.3em

}

.row .speaker-group {width: 40%}

.speaker-group .speaker-hero.wide {
width: 100%;
position: relative
}

.speaker-group .speaker-hero {
width: 50%;
position: relative;
float: left
}

.speaker-more {opacity: 0;
/*display: none;
*/position: fixed;
top: 10%;
left: 5%;
max-height: 90%;
width: 86%;
padding: 2%;
border: solid medium #fff;
transition: opacity .3s;
z-index: -1;
background-color: #1f2c35; /*color1 #1f2c35*/
color: #fffefe; /*color3 #fffefe*/

 }

.speaker-close {
position: absolute;
top: .5em;
right: .6em;
font-size: 2.4em;
cursor: pointer }

.speaker-more.visible {
/*display: block;*/
opacity: 1;
z-index: 11}

.speaker-more h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: 1.6em;
	font-style: normal; 
	padding: 0;
	position: static;
	color: #fffefe; /*color3 #fffefe*/

	}

.speaker-more h4 {
	color: #c2ff46;/*color4 #c2ff46*/
	font-size: 1.3em;
	font-style: italic; 
	padding: 0;
	position: static;
	margin: 1em 0 2em 0; 
	}

.speaker-more .abstract, .speaker-more .bio {
width: 44%;
float: left;
margin-right: 5%;
max-height: 50%;
overflow: auto}

.speaker-more .abstract li, .speaker-more .bio li {
	line-height: 1.15;
	padding-left: .6em;
margin-bottom: .3em
}


.speaker-more p {
line-height: 1.2;
margin-bottom: .3em;
font-size: 1em; }

.speaker-more a:link, .speaker-more a:visited {
	color: #c2ff46;/*color4 #c2ff46*/
text-decoration: none;
display: block;
background-image: url('images/twitter.svg');
background-repeat: no-repeat;
padding-left: 1.6em;
margin-top: 1em;
background-position: left, center;
background-size: 1.4em;font-size: 1.3em}

/*exclusives*/

#exclusives {
width: 100%;
padding: 0;
margin: 0;
color: #fff;
font-size: 1em;
overflow: hidden;
margin-bottom: -.3em
}

.bonus-details {
position: absolute;
top: 0;
left: 0;
z-index: 2;
}

.bonus-details h2 {
font-size: 3.6vw;
font-style: italic;
width: 66.67%;
height: 36.8%;
color: #c2ff46; /*color4*/
background-color:  rgba(31, 44, 53, .8); /*color1*/
padding: .5em 2%
}

#exclusives h3 {
	font-size: 1.3em;
	color:  #c2ff46; /*color4*/

}

#exclusives h4 {
	font-size: 1.1em
}

#exclusives .bonus-event {
width: 60%;
float: left;
min-height: 5em;
position: relative;
 }

#exclusives .bonus-event img{
	width: 100%
}

#exclusives .bonus-event:nth-child(2) {
width: 40%;
}

.bonus-more {
padding: 1em 1em ;
background-color:  rgba(31, 44, 53, .8); /*color1*/
bottom: 0;
position: absolute;
margin-bottom: .3em;
height: 12em


}


/*schedule*/

#schedule {
margin: 0;
background-color: #c2ff46 /*color4*/
}

#schedule table {
width: 70%;
margin: 2em auto 0 auto;
color: #fffefe /*color3*/

}

#schedule table th {
text-align: center; 
width: 30%;
border-right: solid .5em #c2ff46; /*color4*/
background-color: #409e97; /*color5*/
padding: .5em;
color: #fffefe; /*color3*/

}

#schedule table td, #schedule table ths {
padding: .5em;
border-spacing: 1em;
border: solid .5em #c2ff46 /*color4*/

}


table .breakfast {
background-color: #1f2c35 /*color1*/

}

table .mattwebb {
background-color: #409e97 /*color5*/

}

table .sessions {
background-color: #4e6672 /*color2*/

}

table .parties {
background-color: #409e97 /*color5*/
}

table h3 {
font-weight: bold;
font-size: 1.1em; }

table p {
margin-bottom: 1em;
line-height: 1.2}

table .date {
font-size: .8em; }

table .eligible {
font-size: .8em;
margin-bottom: .1em }

/*pricing*/

#pricing {
padding: 0
}

/*actual stuff*/



/*h1, h2, h3, h4, h5 {
margin: .5em 0 .3em 0;
font-weight: bold; }*/

#pricing h1 {
font-size: 1.8em;
font-weight: 500; 
margin: .5em 0 .3em 0;}

#pricing h2 {
	font-size: 1.6em;
font-weight: 300;
margin: .5em 0 .3em 0;
color:  #c2ff46; /*color4*/
}

#pricing h3 {
	font-size: 1.1em;
font-weight: 500;
margin: .5em 0 .3em 0;
}

#pricing h4 {
	font-size: 1.1em;
font-weight: 300;
margin: .5em 0 .3em 0;
}

#pricing h5 {
	font-size: 1em;
font-weight: 300;
margin: .5em 0 .3em 0;
}

#pricing h6 {
	font-size: 1em;
font-weight: 300;
margin: .5em 0 .3em 0;
}

#pricing table p {margin-bottom: .2em }

#pricing  table li {
margin-top: .1em;
}


#pricing {color: #fff}

#pricing td:nth-child(1) {
	background-color:  #fffefe; /*color3*/
	color: #1f2c35;/*color1 #1f2c35*/

}

#pricing td:nth-child(2) {
	background-color: #1f2c35;/*color1 #1f2c35*/
}

#pricing td:nth-child(3) {
	background-color: #4e6672; /*color2 #4e6672*/

}

#pricing td:nth-child(4) {
	background-color: #409e97;/*color5 #409e97*/

}


#pricing a:link.register-button {
display: inline-block;
-webkit-appearance: none;
appearance: none;
border: none;
background-color:  #c2ff46; /*color4*/
display: block;
width: 100%;
margin: .6em 0;
color: #fff;
font-family: museo;
font-size: 1em;
padding: .6em 0;
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
border-radius: 0em; 
border: none 1px;
text-decoration: none;
text-align: center; 
color: #1f2c35;/*color1 #1f2c35*/

}


#pricing a:hover.register-button, #pricing .register-button:active {
background-color:  #c2ff46; /*color4*/
}


#pricing td {
width: 20%;
padding: 0}

#pricing td > * {
padding: 0 4%}

#pricing td:nth-of-type(1) {width: 40%}

#pricing>p:first-of-type, #pricing>ul:first-of-type {
width: 45%;
float: left;
margin-right: 4%;
margin-bottom: 2em}


 #promise {
padding: 1em}

 #promise #promise-details {
width: 35%;
float: right;
margin-right: 5%;
line-height: 1.1}

#promise blockquote {
width: 50%;
float: left;
margin: 0 5%;
line-height: 1;
font-size: 4em;
line-height: 1.2;
text-align: right; 
}

#promise blockquote p{
line-height: 1;

}

#promise blockquote cite {
font-size: .6em; 
display: block;
text-align: right; }

#promise-details ul {
padding-left: .5em}

#promise-details p {
margin-top: .5em}

/*testimonials*/

#testimonials {
padding: 2em 10%;
background-color: #409e97;/*color5 #409e97*/
overflow: hidden;
color: #fffefe /*color3*/

}

.testimonial {width: 45%;
float: left;
margin: 0;
vertical-align: baseline
}

.testimonial:first-child {
margin-left: 10%}

.testimonial blockquote {
font-size: 1.4em;
color: #c2ff46; /*color4*/
width: 50%;

margin-right: 4%;
display: inline-block
}

.testimonial p {width: 30%;

display: inline-block;
text-transform: uppercase;
font-family: 'museo sans';
font-size: 1em; 
font-weight: 200}

/*venue*/

#venue {
position: relative;
}

#venue h2 {

}

#venue img {
width: 100%;
z-index: 0;
}

#venue section.venue-details {
width: 60%;
font-size: 1em;
position: absolute;
bottom: 0;
background-color:  rgba(31, 44, 53, .8); /*color1*/
color: #fffefe; /*color3*/
height: 30%
}

#venue section.venue-details:nth-of-type(2) {
left: 60%;
width: 40%
}

#venue section.venue-details h2{
font-size: 1.2em;
text-transform: uppercase;
margin-top: 1em;
color: #c2ff46; /*color4*/
}

#venue section.venue-details h3{
font-size: 1.1em;
text-transform: uppercase;
}

#venue section.venue-details p{
line-height: 1.2;
margin: 1em 0 }

#venue section.venue-details > *{
	padding: 0 3em 0 1em
}

#venue section.venue-details li{
line-height: 1.1;
margin: .1em 0 0 .5em }

#venue section.venue-details a:link, #venue section.venue-details a:visited {
text-decoration: none;
color: #c2ff46; /*color4*/

 }

/*footer*/

footer {clear: both}

/*lightbox*/

#lightbox {
position: fixed;
width: 100%;
height: 100%;
background: rgb(0,0,0);
top: 0;
left: 0;
opacity: 0;
/*display: none;*/
transition: opacity .3s, z-index .3s;
transition-delay: 0, .3s;
z-index: -1}

#lightbox.visible {/*display: block;*/
opacity: .5;
z-index: 10;
transition: opacity .3s, z-index .3s;
transition-delay: 0;
}